.header_section {
  height: 120px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 32px;
}

.header_link {
  color: var(--p1);
}

.header_active {
  color: var(--p1);
}

.header_inactive {
  color: var(--n4);
}

.header_inactive:hover {
  color: var(--p1);
}

.header_open_button {
  display: none;
}

.header_close_button {
  display: none;
}

.header_responsive_button {
  display: none;
}

.header_menu_link {
  display: none;
}

@media (max-width: 768px) {
  .header_section {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .header_link {
    display: none;
  }

  .header_active_logo {
    color: var(--n2);
  }

  .header_links {
    display: none;
  }

  .header_menu_link {
    display: block;
  }

  .header_responsive_links {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 32px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    background: var(--n8);
    top: 32px;
    right: 32px;
    left: 32px;
    padding: 60px;
    border-radius: 8px;
    animation: header_fadeUp 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    box-shadow: 0 20px 40px rgba(35, 38, 47, 0.1);
  }
  .header_open_button {
    display: block;
  }

  .header_close_button {
    display: block;
    position: absolute;
    top: 32px;
    right: 32px;
  }
}

@keyframes header_fadeUp {
  from {
    transform: translateY(80px);
  }

  to {
    transform: translateY(0);
  }
}
