---

---

<footer class="container footertip_container">
    <p class="caption footertip_title">
        Copyright © 2023 - Astro Theme by 
        <a href="/" target="_blank" rel="noreferrer" class="caption-bold footertip_author">Wendale</a>
    </p>
    <p class="caption">Terms &amp; Conditions | Privacy Policy</p>
</footer>
